@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 213, 13%, 14%;
  --background-hsl: 211, 24%, 80%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: 0, 0%, 100%;
    --background-hsl: 213, 13%, 14%;
    --accent-hsl: 272, 32%, 45%;
  }
}

.colors-swatches {
  --accent: hsl(272, 32%, 45%);
  --fg-darkmode: #fff;
  --bg-darkmode: #1f2328;
  --fg-lightmode: #1f2328;
  --bg-lightmode: #c0ccd8;
}

body {
  color: hsl(var(--foreground-hsl));
  background: hsl(var(--background-hsl));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}